include MANIFEST.in
include *.json
include *.md
include *.py
include *.txt
recursive-include artech_hrms *.css
recursive-include artech_hrms *.csv
recursive-include artech_hrms *.html
recursive-include artech_hrms *.ico
recursive-include artech_hrms *.js
recursive-include artech_hrms *.json
recursive-include artech_hrms *.md
recursive-include artech_hrms *.png
recursive-include artech_hrms *.py
recursive-include artech_hrms *.svg
recursive-include artech_hrms *.txt
recursive-exclude artech_hrms *.pyc
